.Contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.VisualizacionCasas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.CasasNoDisponibles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Titulo {
    color: black;
    font-family: "Plus Jakarta Sans", sans-serif;
    text-decoration: underline;
}

h2 {
    font-family: "Plus Jakarta Sans", sans-serif;
    text-align: center;
}

.Publicar {
    background-color: blue;
    height: 100px;
    padding: 5px;
    color: white;
    font-size: x-large;
    font-family: "Lexend", sans-serif;
    text-decoration: underline blue;
    border-radius: 5%;
}