.upload-property-page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .upload-property-container {
    max-width: 1000px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .property-details,
  .property-amenities,
  .property-extra-details {
    display: flex;
    gap: 20px;
  }
  
  .input-group {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .input-group label {
    font-size: 14px;
    color: #555;
  }
  
  .input-group input,
  .input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .checkbox-group label {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .submit-button {
    align-self: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  