.Usuario {
    background-color: skyblue;
    border-radius: 50%; 
    padding: 5px;
}

.Usuario:hover {
    filter: brightness(50%);
}

.BotonPublicar {
    display: flex; 
    flex-direction: row; 
    margin-Right: 20px;
    font-family: "Lexend", sans-serif;
}

.BotonPublicar:hover {
    text-decoration: underline white;
}