#root{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header{
  display: flex;
  flex-direction: row;
  background-color: #000039;
  height: 100px;
  width: 100%;
}

footer{
  display: grid;
  place-items: center;
  background-color: rgb(90, 90, 90);
  color: white;
  font-size: x-large;
  height: 100px;
  width: 100%;
}

h1 {
  color: white;
}

p {
  color: white;
}

.Secciones{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100px;
  font-size: xx-large;
  color: white;
}

a{
  text-decoration: none;
}

.BotonIs {
  flex: 1;
  background-color: white;
  text-align: center;
  padding: 5px;
  color: #000039;
  font-size: x-large;
  font-family: "Lexend", sans-serif;
  text-decoration: none;
  border-radius: 5%;
  margin-left: 5px;
}

.BotonCc {
  flex: 1;
  background-color: transparent;
  text-align: center;
  padding: 5px;
  color: white;
  font-family: "Lexend", sans-serif;
  font-size: x-large;
  border: 1px solid white;
  border-radius: 5%;
  text-decoration: underline #000039;
  margin-right: 5px;
}